.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 30px;
  padding-bottom: 7px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .popup__input {
    padding-bottom: 9px;
  }
}
