.element__like-button {
  background-image: url(../../../images/like_button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  box-sizing: content-box;
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-position: center;
  opacity: 1;
  transition: opacity 0.3s;
  cursor: pointer;
}

.element__like-button:hover {
  transition: all 0.8s;
  opacity: 0.5;
}

.element__like-button:active {
background-image: url(../../../images/like_button_active.svg);
}
