.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, 294px) auto;
  gap: 16px 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-columns: minmax(auto, 189px) auto;
    gap: 7px 10px;
    padding-top: 22.5px;
    padding-left: 28px;
  }
}
